In [24]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')
display(student_data)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
student_data.loc[155]['writing score']

In [18]:
student_data[student_data.isna()['gender'] == True].shape[0]

0

In [ ]:
student_data.info()

In [ ]:
student_data['math score'].mean()

In [16]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [ ]:
round(student_data[student_data['test preparation course'] == 'completed']['writing score'].mean())

In [ ]:
student_data[student_data['math score'] == 0].shape[0]

gender — пол;<br>
race/ethnicity — раса/этническая принадлежность;<br>
parental level of education — уровень образования родителей;<br>
lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);<br>
test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);<br>
math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [13]:
print(round(student_data[student_data['lunch'] == 'standard']['math score'].mean()))
print(round(student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()))

70
59

In [20]:
student_data['parental level of education'].value_counts(normalize=True)

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

In [27]:
med = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
men = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
print(round(abs(med-men)))

6